{{!-- 
Citation for the following: READ table w/ DELETE buttons, CREATE form, UPDATE form.
Date: 11/30/2023
Adapted from GitHub Node.js starter app walkthrough guide
Changed the table to display the attributes from the TrailEnvironments table. Changed the CREATE form to input the appropriate attributes for the TrailEnvironments entity.
Changed the UPDATE form to input the appropriate attributes for the TrailEnvironments entity.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
            https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
            https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
            https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data
--}}

<h1>Trail Environments</h1> 
<p>This intersection table holds data about which environments can be encountered on each trail</p>

<table id="trailEnvironment-table">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>   {{!-- removed "Delete" to make empty cell --}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.trailEnvironmentID}}>
            <td>{{this.trailEnvironmentID}}</td>
            <td>{{this.trail}}</td>
            <td>{{this.environment}}</td>
            <td><button onclick="deleteTrailEnvironment({{this.trailEnvironmentID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_trailEnvironment.js"></script>

<h2>Add Trail Environment</h2>
<p>To add a new Trail Environment, please select data from the dropdown menus and click "Submit"</p>
<form id="add-trailEnvironment-form" method="POST" action="/add-trailEnvironment-form">
    <label for="input-trail">Trail: </label>
    <select name="input-trail" id="input-trail-ajax">
        <option value="">Select Trail</option>
        {{#each trails}}
        <option value="{{this.trailID}}">{{this.trailName}}</option>
        {{/each}}
    </select>
    
    <label for="input-environment">Environment </label>
    <select name="input-environment" id="input-environment-ajax">
        <option value="">Select Environment</option>
        {{#each environments}}
        <option value="{{this.environmentID}}">{{this.environmentName}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>

<h2>Update Trail Environment</h2>
<p>To update a Trail Environment, please select data from the dropdown menus and click "Submit"</p>
<form id="update-trailEnvironment-form-ajax">

    <label for="input-trailEnvironmentID">Trail Environment ID: </label>
    <select name="input-trailEnvironmentID" id="input-trailEnvironmentID-update">
        <option value="">Select Trail Environment ID</option>
        {{#each data}}
        <option value="{{this.trailEnvironmentID}}">{{this.trailEnvironmentID}}</option>
        {{/each}}
    </select>

    <label for="input-trail">Trail: </label>
    <select name="input-trail" id="input-trail-update">
        <option value="">Select Trail</option>
        {{#each trails}}
        <option value="{{this.trailID}}">{{this.trailName}}</option>
        {{/each}}
    </select>

    <label for="input-environment">Environment: </label>
    <select name="input-environment" id="input-environment-update">
        <option value="">Select Environment</option>
        {{#each environments}}
        <option value="{{this.environmentID}}">{{this.environmentName}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_trailEnvironment.js"></script>